/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
body, html {
    font-family: 'Montserrat', sans-serif;
  }
  
  .card {
    width: 15%;
    display: inline-block;
    /* float:left; */
    padding :2%;
    margin-top : 0;
    /* box-shadow: 5px 5px 5px 5px #000; */
    transition: .25s;
  }
  .card:hover {
    /* box-shadow: 1px 1px 29px 9px #271580; */
    cursor: pointer;
  }
  .card:hover .button-primary {
    transform: translate(10px, 0);
  }

  .card input{
    border: 0;
    background-color: #eee9e9;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    overflow: auto;
    width: 90%;
  }
  .card label {
    float:left;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .card textarea {
    border: 0;
    background-color: #eee9e9;
    height: 60px;
    width: 90%;
    padding: 5px;
  }
  
  .card-header {
    height: 100px;
    width: 100%;
    padding: 15px;
    width: 100%;
    background-size: cover;
    color: #fff;
  }
  
  .card-title {
    height : 50px;
    overflow-y : auto;
  }
  .card-body {
    padding: 15px;
    background-color: #fff;
    width: 100%;
  }
  
  .date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
  }
  
  .body-content {
    height: 40px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.8;
    display:block;
    overflow-y:auto;
  }
  
  .button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: #341cac;
    font-size: 15px;
    transition: .25s;
  }
  .button-primary i {
    padding-right: 4px;
  }
  
  .designer-link {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .saveButton {
    border: 0;
    width: 94%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top :5%;
    background-color:#8dff76;
    color: white;
  }
  .saveButton button:disabled {
    background-color:grey;
  }